<div class="md-resource-header-template p-5">
  <mbsc-eventcalendar
    [view]="view"
    [data]="myEvents"
    [options]="calendarOptions"
    [resources]="myResources"
    [scheduleEventTemplate]="eventTemplate"
    [resourceTemplate]="resourceTemp"
    [resourceHeaderTemplate]="headerTemp"
  >
    <ng-template #resourceTemp let-resource>
      <div class="md-resource-header-template-cont">
        <div class="md-resource-header-template-name">{{ resource.name }}</div>
        <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="5px">
          <div class="md-resource-header-template-driver" fxFlex>
            {{ resource.driver }}
          </div>
          <div class="md-resource-header-template-truck" fxFlex>
            {{ resource.truck }}
          </div>
          <div class="md-resource-header-template-trailer" fxFlex>
            {{ resource.trailer }}
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template #headerTemp>
      <div class="md-resource-header-template-title">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
          <div class="md-resource-header-template-driver" fxFlex>Driver</div>
          <div class="md-resource-header-template-truck" fxFlex>Truck</div>
          <div class="md-resource-header-template-trailer" fxFlex>Trailer</div>
        </div>
      </div>
    </ng-template>
  </mbsc-eventcalendar>
</div>

<ng-template #eventTemplate let-data>
  <div
    class="md-timeline-template-event bg-Completed border-Completed px-1 rounded-lg"
  >
    <div class="md-timeline-template-event-cont">
      <span class="md-timeline-template-title ml-1">{{ data?.title }}</span>
    </div>
  </div>
</ng-template>
